/*Componente footer*/

.footer-container {
    padding: 20px;
    text-align: center;
    color: #343a40;
}
.footer-container .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 15px;

}

