.page-wrapper {
  /* background-color: #f5f5f5; */
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  /* background-image: url("../../public/images/ciudad11.jpg");
  background-size: cover; */
}