.flat-filter-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  padding: 0.5rem;
}

.flat-filter-city, 
.flat-filter-area,
.flat-filter-rent,
.flat-filter-buttons {
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 8px;
}

.flat-filter-inputs {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.flat-filter-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.flat-filter-buttons button{
  flex: 1;
}
